{% extends "website/base.html" %}
{% block content %}
        <h2>Let's learn to code, together!⛵️</h2>
        <p>You found a place where a bunch of programmers from very level are helping eachother to become better programmers.</p>


        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout!</a>
        {% else %}
        <a class="btn" href="{% url 'account_signup' %}">👋 Join now and ask!</a>
        <p>Here's what makes <strong>Devolio</strong> special:</p>
        <ul>
            <li>Beginner, starter, noob? All welcome!</li>
            <li>We do not care about how many times a question was asked. We want YOU to understand the solution!</li>
            <li>All questions are stupid, so keep'em coming.</li>
        </ul>
        {% endif %}
{% endblock %}