body {
    font-family: "europa", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    line-height: 1.6em;
    color: #333;
    background-color: #f9f9f9;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 30px auto;
}

.btn {
    display: block;
    width: 250px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    border-radius: 3px;
    background-color: #f7ea4f;
    box-shadow: 0 12px 60px -14px #378100;
    transition: all 300ms ease-out;
    font-family: monospace;
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 400;
    text-align: center
}

.btn:hover {
    background-color: #fcff6e;
    box-shadow: 0 7px 50px -14px rgba(164,216,6,.65);
}


header {
    background-color: #3b9dd8;
    color: white;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;

}
.nav {
    font-size: 0.8em;
    margin-left: 5px;
}
header a {
    color: white;
}

header h1 {
    /*margin-top: 3px;*/
    margin-left: 5px;
    font-size: 1.5em
}
header .logo {
    width: 50px;
    height: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form > p {
    margin: 0px;
    width: 100%;
}

ul {
    padding-left: 0px;
}

[type="text"], [type="password"], [type="email"], [type="url"], textarea {
    display: block;
    padding: 20px 10px;
    margin: 10px 0px;
    width: 50%;
    border: 1px solid #eee;
    font-family: inherit;
}

[type="text"]:focus, [type="password"]:focus, [type="email"]:focus {
    border: 1px solid #ccc;
}

button, [type="submit"], .button {
    margin: 10px 0px;
    padding: 15px;
    background-color: #f7ea4f;
    color: #333;
    cursor: pointer;
    text-align: center;
    width: 30%;
    border-width: 0px;
    font-family: inherit;
    cursor: pointer;
}

.errorlist li{
    list-style: none;
    display: block;
    color: #cc453f;
}

.question-body h1{
    font-size: 1.7em;
}

.response {
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.responses-wrapper textarea{
    width: 100%;
}

.dc-btn {
    background-color: #694ff7;
    color: #fff;
}
.q-container {
    width: 75%;
}

.q-item {
    background-color: rgba(0, 0, 0, 0.03);
    margin-bottom: 20px;
    padding: 10px;

}

.q-item h2 {
    font-size: 1.2em;
}


.q-tag {
    background-color: rgba(96, 125, 139, 0.35);
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 1px;

}

.q-tags-container {
    display: flex;
    justify-content: space-between;
}

.tags {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 10px;
}

.tags li {
    list-style: none;
}

.user-index-header {
    display: flex;
    justify-content: space-between;
}

.user-index-header .button {
    width: 150px;
    height: 30px;
}


