{% extends "shared/base.html"%}
{% block head_title %}{{object.title}} by {{object.user}}
in {% for tag in object.tags.all %}{{tag.name}} {% endfor %}
{% endblock %}
{% block content %}

<div class="question-wrapper">
    <h1 class="question-headline">{{object.title}}</h1>
    <div class="question-body">
        {{object.body_html | safe}}
    </div>
    <div class="question-meta">
        <div class="q-meta">By <a href="{% url 'public_profile' object.user.username %}">@{{object.user}}</a> on {{object.created|date:"D d M Y"}} | {% if object.user == request.user %}<a href="{% url 'q_edit' object.slug %}">edit</a> {% endif %}
        </div>
    </div>
    {% if object.tags.all %}
    <div class="q-meta-tags">
        <span>Tags</span>
        {% for tag in object.tags.all %}
        <a class="q-tag q-meta-tag" href="{% url 'tags_tag' tag.slug %}">{{tag.name}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div id="responses-wrapper" class="responses-wrapper" >
    <h3>Responses:</h3>
    <p>Offer your help. Be nice!</p>
    <div class="responses">
        {% for r in responses %}
        <div class="response">
        <div class="response-header">
            <a href="/@{{r.user}}"><strong>@{{r.user}}</strong></a>
            <div class="upvote" data-rid="{{r.id}}" ><span>▲</span><span id="rid-count-{{r.id}}">{{r.likes}}</span></div>
        </div>
            <p>{{r.body_html|safe}}</p>

        </div>
        {% endfor %}
    </div>

    <div>
    {% if user.is_authenticated %}
        <form action="{% url 'create_response' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="qid" value="{{object.id}}">
            <textarea name="body"></textarea>
            <button>Send</button>
        </form>
    {% else %}
    <a class="button" href="{% url 'account_login' %}?next={% url 'q_detail' object.slug %}">Login to leave a response!</a>
    {% endif %}
    </div>
</div>
{% endblock %}
