{% extends "shared/base.html"%}
{% block head_title %}{{object.title}} by {{object.user}}
in {% for tag in object.tags.all %}{{tag.name}} {% endfor %}
{% endblock %}
{% block content %}

<script type="text/javascript">
    window.DEVOLIO_DATA ={
        QID: {{object.id}},
        loggedIn: {% if user.is_authenticated %}true{% else %}false{% endif %},
        firebaseConfig: {{firebase_config|safe}}
    }
</script>
<div>
    <h1 class="question-headline">{{object.title}}</h1>
    <div class="question-body">
        {{object.body_html | safe}}
    </div>
    <div class="question-meta">
        <div class="q-meta">By <a href="{% url 'public_profile' object.user.username %}">@{{object.user}}</a> on {{object.created|date:"D d M Y"}} | {% if object.user == request.user %}<a href="{% url 'q_edit' object.slug %}">edit</a> {% endif %}
        </div>
    </div>
    <div class="q-meta-tags">
        <span>Tags</span>
        {% for tag in object.tags.all %}
        <a class="q-tag q-meta-tag" href="{% url 'tags_tag' tag.slug %}">{{tag.name}}</a>
        {% endfor %}
    </div>
</div>
<input type="hidden" name="csrf" value="{{csrf_token}}">
<div id="replies" class="replies" >
</div>
{% endblock %}
