{% extends "website/base.html"%}
{% block content %}

<div>
  <h1 class="question-headline">{{object.title}}</h1>
  <div class="question-body">
    {{object.body_html | safe}}
  </div>
  <div class="question-meta">
    <div class="q-meta">By <a href="#">@{{object.user}}</a> on {{object.created|date:"D d M Y"}} | {% if object.user == request.user %}<a href="/q/{{object.slug}}/edit">edit</a> {% endif %}
    </div>
  </div>
  <div class="q-meta-tags">
  <span>Tags</span>
  {% for tag in object.tags.all %}
  <a class="q-meta-tag" href="/tags/{{tag.slug}}">{{tag.name}}</a>
  {% endfor %}
  </div>
</div>
<div class="doobly-doo">
  <h3>responses:</h3>
  <div class="responses">
  {% for r in responses %}
  <div class="response">
   
    <p><strong>@{{r.user}}</strong><br>{{r.body_html|safe}}</p>
  </div>
  {% endfor %}
  </div>

  <div>
  <form action="/q/response" method="POST">
  {% csrf_token %}
    <input type="hidden" name="qid" value="{{object.id}}">
    <textarea name="body"></textarea>
    <button>Send</button>
  </form>

  </div>

</div>
{% endblock %}