SECRET_KEY=a_random_string_for_security
#SLACK_SLACK2DEVOLIO_TOKEN=some_slack_token
#RAVEN_DSN=your_sentry_dsn
#SENDGRID_USERNAME=your_sendgrid_username
#SENDGRID_PASSWORD=your_sendgrid_password
#SENDGRID_HOST=smtp.sendgrid.net
