SECRET_KEY=a random string for security
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-something@somethingelse.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY_ID=privat key id
FIREBASE_PRIVATE_KEY=-firebase private key
SLACK_SLACK2DEVOLIO_TOKEN=some_slack_token
RAVEN_DSN=your_sentry_dsn
SENDGRID_USERNAME=your_sendgrid_username
SENDGRID_PASSWORD=your_sendgrid_password
SENDGRID_HOST=smtp.sendgrid.net