{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block head_title %}Welcome to the new DevChat{% endblock %}</title>
        {% if not OFFLINE_DEV %}<script src="https://use.typekit.net/onc4rxd.js"></script>{% endif %}
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="icon" type="image/x-icon" href="{% static 'shared/img/D_32_transparent.png' %}">
        <link rel="stylesheet" href="{% static 'shared/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'shared/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'shared/css/prism.css' %}">
    </head>
    <body>
    {% include 'shared/partials/header.html' %}
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        {% if is_question %}
        <script src="{% static 'shared/js/prism.js' %}"></script>
        <script src="{% static 'shared/js/app.js' %}"></script>
        {% endif %}

    </body>
</html>
