body {
    max-width: 630px;
    margin: 30px auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
header, .brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    /*margin-top: 3px;*/
    margin-left: 5px;
}
header .logo {
    width: 50px;
    height: 50px;
    margin-left: -10px;
}
.project-cards {
    display: flex;
    flex-direction: column;
}
.project-card {
    padding: 20px 20px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 20px -20px 5px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.01);
}

.hellocode-card {
    background-color: #f7ea4f;
    box-shadow: 0 16px 16px -13px rgba(0,0,0,0.2), 0 9px 18px -5px #f7ea4f;
}

.devchat-card {
    background-color: #5c4fc0;
    color: #fff;
    box-shadow: 0 16px 16px -13px rgba(0,0,0,0.2), 0 9px 18px -9px #5c4fc0;
}

.questions-card {
    background-color: #3b9dd8;
    color: #fff;
    box-shadow: 0 16px 16px -13px rgba(0,0,0,0.2), 0 9px 18px -9px #3b9dd8;
}

.discover-card {
    background-color: #04cc66;
    color: #fff;
    box-shadow: 0 16px 16px -13px rgba(0,0,0,0.2), 0 9px 18px -9px #04cc66;
}

div[class*="-card"] h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Europa', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card-link {
    padding: 6px 8px;
    border-radius: 2px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2);
    font-weight: 400;
    transition: all 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card-link:hover, .card-link:focus {
    box-shadow: 0 4px 5px -1px rgba(0,0,0,0.2);
}

.project-card .card-link {
    background-color: #fff;
}

.hellocode-card .card-link {
    color: #fff;
    background-color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form > p {
    margin: 7px;
    width: 100%;
}

[type="text"], [type="password"], [type="email"] {
    display: block;
    padding: 10px;
    margin: 10px 0px;
    width: 50%;
    border: 1px solid #eee;
}
[type="text"]:focus, [type="password"]:focus, [type="email"]:focus {
    border: 1px solid #ccc;
}

button {
    margin: 10px 0px;
    padding: 15px;
    background-color: #f7ea4f;
    color: #333;
    text-align: center;
    width: 30%;
    border-width: 0px;
    font-family: "Europa", sans-serif;
    cursor: pointer;
}
.errorlist li {
    list-style: none;
    display: block;
    color: #cc453f;
}