body {
    max-width: 700px;
    margin: 30px auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
header, .brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    /*margin-top: 3px;*/
    margin-left: 5px;
}
header .logo {
    width: 50px;
    height: 50px;

}
.project-cards {
    display: flex;
    flex-direction: column;

}
.project-card {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hellocode-card {
    background-color: #f7ea4f;
}

.devchat-card {
    background-color: #5c4fc0;
    color: #fff; 
}

.questions-card {
    background-color: #3b9dd8;
    color: #fff;
}

.discover-card {
    background-color: #04cc66;
    color: #fff;
}

div[class*="-card"] h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Europa', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card-link {
    padding: 5px;
}

.project-card .card-link {
    background-color: #fff;
}

.hellocode-card .card-link {
    color: #fff;
    background-color: #333;
}


