{% extends "shared/base.html" %}

{% block content %}
<div class="public_user">
    {% if user.profile %}
    <h1>@{{user.profile.user}}</h1>
    <p>{{user.profile.summary}}</p>
    {% if user.profile.good_skills.all %}
    <div>
        I know: {% for s in user.profile.good_skills.all %} <strong>{{s.name}}</strong> {% endfor %}
    </div>{% endif %}
    {% if user.profile.learning_skills.all %}
    <div>
        I'm still learning: {% for s in user.profile.learning_skills.all %} <strong>{{s.name}}</strong> {% endfor %}
    </div>{% endif %}
    <div>
        <ul>
		{% if user.profile.slack_url %}<li>DevChat: <a href="{{user.profile.slack_url}}">@{{user.profile.slack_handle}}</a></li>{% endif %}
		{% if user.profile.code_clean %}<li><a href="{{user.profile.code_url}}">{{user.profile.code_clean}}</a></li>{% endif %}
		{% if user.profile.website %}<li><a href="{{user.profile.website}}">{{user.profile.website_clean}}</a></li>{% endif %}
        </ul>
    </div>
    {% if questions %}
    <div>
    <h3>My questions</h3>
    {% for q in questions %}
        <div class="q-item">
            <h2><a href="{% url 'q_detail' q.slug %}">{{q.title}}</a></h2>

            <div class="q-meta">By <strong><a href="{% url 'public_profile' q.user.username %}">@{{q.user}}</a></strong> in 
                {% for tag in q.tags.all %}
                <a href="#" class="q-tag">{{tag.name}}</a>
                {% endfor %}
                | <span>{{q.response_set.all|length}} responses</span>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
      {% if questions.paginator and questions.paginator.num_pages > 1 %}
      <div class="p-pagination">
      {% if questions.has_previous %}
      <a href="?page={{ questions.previous_page_number }}" class="p-pag-nr">‹</a>
      {% endif %}

      {% for pagenum in questions.paginator.page_range %}
      {% if pagenum == questions.number %}
      <a href="?page={{ pagenum }}" class="p-pag-nr p-pag-current">{{pagenum}}</a>
      {% endif %}
      {% endfor %}
      
      {% if questions.has_next %}
      <a href="?page={{ questions.next_page_number }}" class="p-pag-nr">›</a>
      {% endif %}
      </div>
      {% endif %}
    {% else %}
    {% if user == request.user %}
    <a href="{% url 'create_profile' %}" class="button">Create your profile now!</a>
    {% else %}
    <p>{{user}} does  not have a profile yet :/</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
