<pre>
Welcome to HelloCode!
---------------

HelloCode is a place where developers (beginners too) find
and collaborate on open source projects.

- Are you looking for a project?
    Search for projects!
    You can also Watch _this_ project on GitHub or subcribe
    to r/hellocode to get notified. If you sign up on
    Devolio, we will send you new projects based on your skills
    too.


- Do you have a project/project idea?
    Then share it with the community! Go _here_ and create a
    project page and tell us what you're looking for. We will
    share your project with our friendly community!
</pre>
